$primary-text: #313131;
$label-text: #616161;
$secondary-text:#919191;
$inactive: #c2c2c2;
$separator: #e4e4e4;
$danger-text: #d60e0e;

$primary-lighter: #4A4747;

$button-text: #fff;
$button-primary: #313131;
$button-danger: #d60e0e;


$correct: #32A34B;
$wrong:#C22323;


$progress-bar-background: #d9d9d9;
$progress-bar-fill: #313131;
